body
{
  color: white;
  background: cadetblue;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(71, 112, 190);
  width: 350px;
  height: 300px; 
}
.object_name
{
  font-size: 40px;
}
.gesture_icon
{
  font-size:40px;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 5px;
}
label
{
  font-size: 14px;
  color: #3f2679;
  padding: 4px;
  border-radius: 10px;
  background-color: white;
}